/data
data_mining.code-workspace
6. Анализ и визуализация векторных и растровых пространственных данных/stack_bands_2.TIF
6. Анализ и визуализация векторных и растровых пространственных данных/stack_bands.TIF
6. Анализ и визуализация векторных и растровых пространственных данных/plotly_express_gapminder.html
6. Анализ и визуализация векторных и растровых пространственных данных/masked_raster.tif
